{% extends 'base.html' %}

{% block title %} - Home{%  endblock%}

{% block content %}
<div class="container mt-3">
    
    <div class="container col-lg-10 text-center border border-secondary rounded">
        <div>
            <img src="/static/img/brand_logo.svg" alt="" height="250" width="250">
        </div>
        <div class="container col-lg-6 text-center">
            <h2 >Breaking the Silence is a free forum to support our veterans fighting against their mental health</h2>
        </div>
    </div>

    <div class="container col-lg-10 mt-4">
        <div class="container text-center">
            <h4>Here, some stories from our veterans...</h4>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                        <div class="card">
                            <h5 class="card-header">Featured</h5>
                            <div class="card-body">
                            <h5 class="card-title">Special title treatment</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="card">
                        <h5 class="card-header">Featured</h5>
                        <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>


                <div class="col-lg-4">
                    <div class="card">
                        <h5 class="card-header">Featured</h5>
                        <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    
    
</div>

{% endblock %}