{% extends 'base.html' %}

{% block title %} - Home{% endblock%}

{% block content %}
<img class="hero_img" src="https://res.cloudinary.com/dr2oyv6h1/image/upload/v1681571010/5_vzwopm.png" alt="" width="50%" >
<section class="hero_img_section m-3 p-3">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Breaking the Silence is a free forum to support our veterans fighting against their mental health</h2>
            </div>
            <div class="container mt-3">
                {% if user.is_authenticated %}
                <div class="container col-lg-10 mt-4">
                    <div class="container text-center">
                        <h4>Here are the latest topics from our forum:</h4>
                    </div>

                    <div class="container">
                        <div class="row">
                            {% for topic in topics %}
                            <div class="col-lg-4">
                                    <div class="card home-card">
                                        <h5 class="card-header">Featured</h5>
                                        <div class="card-body">
                                        <h5 class="card-title">{{ topic.title }}</h5>
                                        <p class="card-text">{{ topic.content }}</p>
                                        <a href="{% url 'topic_detail' topic_id=topic.id %}" class="btn btn-primary">Go to Topic</a>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                    {% else %}
                    <div class="container col-lg-10 mt-4">
                        <div class="container text-center">
                            <h4>What are we all about?</h4>
                        </div>
                
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-4 my-4">
                                        <div class="card home-card">
                                            <h5 class="card-header">Forum</h5>
                                            <div class="card-body">
                                            <h5 class="card-title">Connect with others</h5>
                                            <p class="card-text">We have a forum designed for veterans to discuss topics and engage with each other, where you can share your experiences and find new connections, try it out below!</p>
                                            <a href="{% url 'topics' %}" class="btn btn-primary">Forum</a>
                                        </div>
                                    </div>
                                </div>
                
                                <div class="col-lg-4 my-4">
                                    <div class="card home-card">
                                        <h5 class="card-header">Create a Profile</h5>
                                        <div class="card-body">
                                        <h5 class="card-title">Sign up or login to create a profile</h5>
                                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                        <a class="btn btn-primary" href="{% url 'account_login' %}">Sign In</a>
                                        </div>
                                    </div>
                                </div>
                
                                <div class="col-lg-4 my-4">
                                    <div class="card home-card">
                                        <h5 class="card-header">Wellness Tracker</h5>
                                        <div class="card-body">
                                        <h5 class="card-title">Check in with yourself and track how you feel</h5>
                                        <p class="card-text">Once you have an account, you can check in with yourself and track how you feel on a scale of 1-10. Over time, you can track how this changes and see any patterns in your wellbeing.</p>
                                        <a href="{% url 'user_check_in' %}" class="btn btn-primary">How am I feeling today?</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>

            {% endblock %}