{% extends "base.html" %}

{% block content %}
  <h1>{{ display_username }}'s Profile</h1>
  <p>Story: {{ user_profile.story }}</p> 
  <p>Force: {{ user_profile.get_force_display }}</p>
  <p>Regiment: {{ user_profile.regiment }}</p>
  <p>Rank: {{ user_profile.rank }}</p>

    {% if request.user == user_profile.user %}
        <a href="{% url 'edit_user_profile' %}" class="btn btn-primary">Edit Profile</a>
        <a href="{% url 'user_check_in' %}" class="btn btn-primary">How am I feeling today?</a>
    {% endif %}
{% endblock %}