<!-- forum/templates/forum/comment_list.html -->

{% for comment in comments %}
<div style="margin-left: {{ level|default:0 }}em">
    <h4>{{ comment.created_by.username }}</h4>
    <p>{{ comment.content }}</p>
    <p class="m-2"><small class="text-muted">By: {{ post.created_by.username }} | {{ post.created_at }}</small></p>
    <a href="{% url 'post_detail' pk=post.id %}?parent={{ comment.id }}">Reply</a>
    {% with comments=comment.comment_set.all level=level|default:0|add:1 %}
        {% include "forum/comment_list.html" %}
    {% endwith %}
</div>
{% endfor %}
