{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<section class="topic_detail_section m-3 p-3">
  <div class="container">
    <div class="row">
      <div>
        <h1>{{ topic.title }}</h1>
        <p>{{ topic.description }}</p>
      </div>
    </div>
    <div class="row">
      <h2>Posts:</h2>
      {% for post in posts %}
      <h3><a class="btn btn-info topic_detail_comments" href="{% url 'post_detail' pk=post.id %}">{{ post.content|truncatechars:300 }}</a></h3>
      <div>
        <p><small>By: {{ post.created_by.username }} | {{ post.created_at }}</small></p>
      </div>
      <div>
        {% if post.comments.all %}
        <h3>Replies:</h3>
      </div>
      {% for comment in post.comments.all|slice:":2" %}
      <p>{{ comment.content }}</p>
      <p>By: {{ comment.created_by.username }} | {{ comment.created_at }}</p>
      {% endfor %}
      {% endif %}
      <div class="topic_detail_button_spacing">
        <a class="btn btn-primary"  href="{% url 'post_detail' pk=post.id %}">Reply</a>
      </div>
    </div>
    {% endfor %}
    <div class="row">
      {% if user.is_authenticated %}
      <h2>Add a new post:</h2>
      {% endif %}
      <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary">Add Post</button>
        <a href="{% url 'topics' %}" class="btn btn-primary">Return to Forum</a>
      </form>
    </div>
  </div>
</section>

{% if user.is_authenticated %}
  <h2 class="post">Add a new post:</h2>
  <form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-primary">Add Post</button>
  </form>
  <a href="{% url 'topics' %}" class="btn btn-primary my-4">Back to Topics</a>
{% endif %}
{% endblock %}
