{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="overlay_posts"></div>
<h1 class="topic">{{ topic.title }}</h1>
<p>{{ topic.description }}</p>

<div class="card rounded-0 m-1">
  <div class="card-title m-1 card-header">
    <h2>Posts:</h2>
  </div>
  
  {% for post in posts %}
  <div class="card rounded-0 m-1">
    <div class="card-body">
      <h3><a class="text-black" href="{% url 'post_detail' pk=post.id %}">{{ post.content|truncatechars:50 }}</a></h3>
      <div class="card-footer h-1">
        <p><small class="text-muted">By: {{ post.created_by.username }} | {{ post.created_at }}</small></p>
      </div>
      <div class="card m-1 rounded-0 card-no-bored">
        {% if post.comments.all %}
          <div class="card-title card-header m-1">
            <h3>Replies:</h3>
          </div>
          {% for comment in post.comments.all|slice:":2" %}
          <div class="card m-1 rounded-0">
            <div>
              <p class="m-1">{{ comment.content }}</p>
            <div class="card-footer">
              <p><small class="text-muted">By: {{ comment.created_by.username }} | {{ comment.created_at }}</small></p>
            </div>
            </div>
          </div>
          {% endfor %}
        {% endif %}
        <a class="text-muted"  href="{% url 'post_detail' pk=post.id %}">Reply</a>
      </div>
    </div> 
  </div>
  {% endfor %}
</div>

{% if user.is_authenticated %}
  <h2 class="post">Add a new post:</h2>
  <form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-primary">Add Post</button>
  </form>
  <a href="{% url 'topics' %}" class="btn btn-primary my-4">Back to Topics</a>
{% endif %}
{% endblock %}
