{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<section class="topics_section m-3 p-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h2>Topics</h2>
                {% if user.is_authenticated and user.is_staff %}
                    <h4>Create a new topic</h4>
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit">Create Topic</button>
                    </form>
                {% endif %}
                <form method="GET" action="{% url 'topics' %}" class="w-50">
                    <div class="input-group w-80">
                        <input class="form-control border border-black rounded-0" type="text" name="search"
                            placeholder="Search">
                        <div class="input-group-append">
                            <button class="form-control positive-button" type="submit">
                                <span class="icon">
                                    <i class="fas fa-search"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </form>
                <h4>All Topics</h4>
                <div class="list-group">
                    {% for topic in topics %}
                            <a class="list-group-item list-group-item-action" href="{% url 'topic_detail' topic_id=topic.id %}">{{ topic.title }}</a>
                    {% empty %}
                        <p>No topics found</p>
                    {% endfor %}
                {% if user.is_authenticated %}
                    <h4>Create a new topic</h4>
                    <form method="post">
                        {% csrf_token %}
                        {{ form |crispy }}
                        <button type="submit" class="btn btn-primary">Create Topic</button>
                    </form>
                    {% endif %}
                    <br>
                </div>
            </div>
            <div class="col-lg-6">
                <img class="forum_image" src="/static/img/pexels.jpg" alt="two people chatting">
            </div>

        </div>
    </div>
</section>
{% endblock %}
