body {
    background: #fafafa;
}

:root {
    --primary: #00028b;
    --secondary: rgb(213, 246, 247);
    --tertiary: rgb(56, 5, 114);
    --padding: 1rem;
  }
  
  .edit_user_profile_section, .user_profile_section {
    color: var(--primary);
  }

  .edit_user_profile_title, .user_profile_title {
    color: var(--primary);
    text-decoration: underline;
  }

  .user_profile_section {
    margin: 2%;
    color: var(--primary);
    background-color:var(--secondary);
    border-color: var(--primary);
    border-width: 5px;
    border-radius: 15px;
  }

  .user_profile_title, .edit_user_profile_title {
    color: var(--primary);
    text-decoration: underline;
    padding-bottom: 10px;
  }

  .user_profile_story {
    color: var(--primary);
  }

  .user_profile_key_info {
    color: var(--secondary);
    background-color: var(--primary);
    padding: 5px;
    border-color: #000000;
    border-width: 10px;
    border-radius: 15px;
  }

  .user_profile_key_info_text {
    color: var(--secondary);
  }